.quizContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 30px;
}

.submitBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.submitBtn:hover {
  background-color: #45a049;
}

.questionContainer {
  margin-bottom: 20px;
}

.selected {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  border-radius: 8px;
  background-color: grey;
  gap: 5px;
}
